/* -------------Defult Css------------------ */

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 870px;
 
}
img{
    max-width: 100%;
}
/* -------------- All Button Css----------------- */

body .bannar-details a{
background-color: rgb(0, 0, 0);
padding: 15px 30px;
color: #ffff;
font-size: 20px;
text-decoration: none;
position: relative;
z-index: 1;
display: block;
width: 130px;




}
body .bannar-details .fa{
    margin-left: 10px;
   
}
body .bannar-details a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(255, 0, 0);
    transition: 1s;
    z-index: -1;
    
}
body .bannar-details a:hover::after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* --------------- Headar Css ------------------------ */
.main-headar{
    display: flex;
    justify-content: center;
    background-color: blue;
}
.bannar-section{
    display: flex;
  align-items: center;
  padding:  80px 0px;
}
.bannar-details{
    width: 50%;
    padding: 10px;
}
.bannar-details h1{
    font-size: 3.5rem;
    padding: 50px 0;
    color: #ffffff;
    margin-top: -20px;
}

.bannar-image{
    width: 45%;
}
.bannar-image img{}




/* ---------main player css---------- */
.main-players{
    width: 870px;
    margin: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px 0;
}
.player{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
   padding: 10px;
}
.player h1{
    padding: 10px 0;
}
.player img{
    width: 250px;
}

/* ----Footer Sectio css------- */

.footer-logo{
    text-align: center;
}
.footer-logo img{
    width: 450px;
}
.footer-icon{
text-align: center;
padding: 30px ;
}
.footer-icon .fab{
    background-color: rgb(19, 55, 139);
    background-color: black;
    color: #ffffff;
    padding: 10px ;
    font-size: 20px;
    border-radius: 50%;
}
.footer-text{
    text-align: center;
    margin-bottom: 20px;
}
.footer-text .fa{
background-color: #ffffff;

}
